.view-workout{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    color: white;
}
    .exercise-type{
        margin-bottom: 5px;
        font-size: 16px;
    }
    .workout-order{
        width: 25px;
        height: 25px;
        text-align: center;
        color: fuchsia;
        font-size: 24px;
        font-weight: bold;
    }
    .exercises{
        width: 100%;
        margin-right: 10px;
        max-width: 480px;
        background-color: rgba(255,255,255,.95);
        padding: 10px;
        color: black;
        border-radius: 5px;
    }