.recurrence-selectors{
    width: 98%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
    .recurrence-selector{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: yellow;
        width: 70px;
        height: 50px;
        margin-left: 5px
    }
.recurrence-indicator{
    width: 95%;
    margin-top: 5px;
    text-align: center;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}