.set{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    width: 100%;
}
    .exercise-summary{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: rgba(0,0,0,.8);
        padding: 2px;
    }
        .set-spec{
            margin-left: 10px;
            color: white;
        }
        .set-edit-buttons{
            display: flex;
            flex-direction: column;
            margin-left: auto;
            align-items: center;
        }
            .delete-set-button{
                margin: 0;
                border-radius: 20px;
                border: none;
                background-color: black;
                border: 1px solid darkgrey;
                color: darkgrey;
                cursor: pointer;
            }
            .move-set-button{
                margin: 1px;
                background-color: black;
                color: darkgrey;
                border-radius: 35px;
                border: 1px solid darkgrey;
                width: 35px;
                cursor: pointer;
            }
                .move-set-button:active{
                    background-color: white;
                    color: black;
                }