.select-workout-type{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    .workout-selector{
        width: 100%;
        height: 70px;
    }
    .select-workout-type input{
        width: 100%;
        height: 65px;
        margin: 0;
    }
    .select-workout-type-toggle{
        background-color: yellow;
        display: flex;
        text-align: center;
        align-items: center;
        width: 120px;
        height: 70px;
        margin-left: 15px;
        margin-top: 5px;
    }